html {
  padding: 0 !important;
  height: 100%;


}
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  background-color: #dadada !important;
}
.bg-color-blue {
  background-color: #2980b9;
}

.bg-color-3d3d3d {
  background-color: #3d3d3d;
}

.header-login {
  height: 300px;

}
.header-login div {
  padding-top: 100px;
  color: #FFFFFF;
  font-size: larger;
  text-align: center;
}

.container-principal {
  background-color: #FFFFFF !important;
  position: static;
}


footer {
  width: 100%;
  font-size: 10px;
  margin: 0 auto;
}
