html {
  padding: 0 !important;

}
body {
  margin: 0 !important;
  padding: 0 !important;
}
.bg-color-blue {
  background-color: #2980b9;
}

.bg-color-3d3d3d {
  background-color: #3d3d3d;
}

.header {
  height: 55px;
  margin: 0 !important;
  margin-top: 0 !important;
}
