<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sorteio - Login</title>
</head>
<body style="margin-top: 0">
<header class="bg-color-blue header-login">
  <div class="container">
    <h1>Seja bem vindo!</h1>

  </div>
</header>
<section class="container container-principal">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Login</h1>
      </div>
      <div class="panel-body">
        <div class="col-md-3"></div>

        <div class="col-md-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="email">✉</span>
            <input type="email" class="form-control" placeholder="Seu e-mail aqui" aria-describedby="email" name="email"
                   id="inputEmail" [(ngModel)]="this.email" required>
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="senha">🔒</span>
            <input type="password" class="form-control" placeholder="Sua senha aqui" aria-describedby="senha"
                   name="senha" [(ngModel)]="senha"
                   id="inputSenha" required>
          </div>
          <br/>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-lg text-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" (click)="verificaLogin()">Entrar!</button>
          </div>

        </div>

        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</section>
<br/>
<footer style="width: 100%; text-align: center">
  <p>Feito com <span style="color: #d80404;">❤</span> por: <a href="http://github.com/marciioluucas">Márcio Lucas</a></p>
</footer>
</body>
</html>
